<div class="list-item name">
  {{item.name}}  
</div>

<div class="list-item brewery">
  {{item.brewery}}  
</div>

 <div class="list-item count">
  {{item.count}} st
</div>

<div class="list-item best-before" [ngClass]="{'past-date': pastDate, 'close-to-date': closeToDate && !pastDate}">
  {{item.bestBefore | date: 'yyyy-MM-dd' }}  
</div>

<div class="list-item action text-right">
  <button [disabled]="item.archived" (click)="checkOut(item)">-</button>
  <button (click)="remove(item)">T</button>
</div>
