
<div class="list-item name">
  {{item.name}}  
</div>

<div class="list-item brewery">
  {{item.brewery}}  
</div>

<div class="list-item count">
  {{item.count}} st
</div>

<div class="list-item best-before" [ngClass]="{'past-date': pastDate, 'close-to-date': closeToDate && !pastDate}">
  {{item.bestBefore | date: 'yyyy-MM-dd' }}  
</div>

<div class="list-item action text-right">

    <button (click)="toggleInformation()" [disabled]="!authService.isAuthenticated() || authService.getUser()?.uid !== item.userId"><i class="fa fa-info-circle" aria-hidden="true"></i></button>

    <button [disabled]="item.archived || !authService.isAuthenticated() || authService.getUser()?.uid !== item.userId" (click)="checkOut(item)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>

    <button (click)="remove(item)" [disabled]="!authService.isAuthenticated() || authService.getUser()?.uid !== item.userId"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

</div>

<div class="more-information" *ngIf="showInformation">
  Bäst före: {{item.bestBefore | date: 'yyyy-MM-dd' }} <br/>
  Arkiverad: {{item.archived}} <br/>
  EAN: {{item.upc}} <br/>
</div>
