cellar-list-item{
    
    .list-item{
        float: left;
        position: relative;
        border-bottom: 1px solid #eee;
        line-height: 32px;
        font-size: 14px;

        @media only screen and (max-width : 765px) { 
            font-size: 11px;
        }

        &.name, &.brewery{
            width: 35%;

            @media only screen and (max-width : 765px) { 
                width: 35%;
            }   
        }

        &.count{
            width: 10%;

            @media only screen and (max-width : 765px) { 
                width: 10%;
            }   
        }

        &.best-before{
            width: 10%;

            &.past-date{
                color: red;
            }

            &.close-to-date{
                color: orange;
            }
            
            @media only screen and (max-width : 765px) { 
                display: none;
            }    
        }

        &.action{
            width: 10%;

            @media only screen and (max-width : 765px) { 
                width: 20%;
            }   
        }

    }

    .more-information{
        position: relative;
        float:left;
        width: 100%;
        background: lightgrey;
        border-bottom: 3px solid #eee;
    }
}