cellar-list{
    position: relative;
    width: 1024px;
    margin: 0 auto;
    display:block;

    @media only screen and (max-width : 765px) { 
        width: 100%;
    }

    .list-header{
        float: left;
        position: relative;
        border-bottom: 1px solid #eee;
        line-height: 32px;
        font-weight: bold;

        @media only screen and (max-width : 765px) { 
            font-size: 11px;
        }

        &.name, &.brewery{
            width: 35%;

            @media only screen and (max-width : 765px) { 
                width: 35%;
            }   
        }

        &.count{
            width: 10%;

            @media only screen and (max-width : 765px) { 
                width: 10%;
            }   
        }

        &.best-before{
            width: 10%;

            @media only screen and (max-width : 765px) { 
                display: none;
            }    
        }

        &.action{
            width: 10%;
            @media only screen and (max-width : 765px) { 
                width: 20%;
            }   
        }
    }

    .filter-container{
        position: relative;
        float: left;
        width:100%;
        margin-bottom: 14px;
    
        .search{
            position: relative;
            float: right;

            i{
                line-height: 36px;
                border-bottom: 1px solid #ccc;
            }

            input{
                float:right;
                width: 150px;
                height: 34px;
                border: 0;
                border-bottom: 1px solid #ccc;
                margin-bottom: 12px;
                outline: none;
                font-size: 14px;
                transition: .5s width;
                padding-left: 6px;

                &:focus{
                    width: 200px;
                }
            }
        }
    }
}