<div class="filter-container">
  
  
  <div class="search">
    <i class="fa fa-search"></i>
    <input type="text" [(ngModel)]="query" />
  </div>
</div>

<div class="list-header name">
  Namn 
</div>

<div class="list-header brewery">
  Bryggeri 
</div>

 <div class="list-header count">
  Antal
</div>

<div class="list-header best-before">
  Bäst före
</div>

<div class="list-header action">
   &nbsp;
</div>

<cellar-list-item *ngFor="let cellarItem of cellarItems | async | filterList: query" [item]="cellarItem"></cellar-list-item>
